:root{
	--mainText:#fff;
	--secondaryText:#eeeeee;
	--maincolor:#606B56;
	--secondarycolor:#515a48;
	--bordercolor:#161914;
	--themeDotBorder: #FFF;
	--previewbg: rgb(81, 90, 72, 0.8);
	--previewShadow:#2a2f25;
	--buttonColor:#669966;
}
